<a href="https://colab.research.google.com/github/saibhoknal/internship/blob/main/task_5/Advertising_Sales_Prediction_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [8]:

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
df=pd.read_csv("/content/drive/MyDrive/Students_Record (1).csv")
df.head()

,Stud_Roll_no.,Maths_Score,Reading_Score,Writing_Score,Placement_Score,Placement offer count
0,1,82.0,64.0,98.0,81.0,2
1,2,74.0,86.0,98.0,86.0,2
2,3,76.0,83.0,76.0,78.0,1
3,4,25.0,73.0,77.0,58.0,0
4,5,93.0,95.0,86.0,91.0,3

In [ ]:
df=pd.get_dummies(df,columns=['TV','Radio','Newspaper'],drop_first=True)

In [ ]:
X = df.drop(['Sales'], axis=1)
y = df['Sales']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
X_train.head()

In [ ]:
y_train.head()

In [ ]:
lin_reg = LinearRegression()
lin_reg.fit(X_train, y_train)

In [ ]:
import statsmodels.api as sm
X_train_sm = sm.add_constant(X_train)
lr = sm.OLS(y_train, X_train_sm).fit()

In [ ]:
lr.params

In [ ]:
X_test_sm = sm.add_constant(X_test)
y_pred = lr.predict(X_test_sm)
y_pred.head()

In [ ]:
np.sqrt(mean_squared_error(y_test, y_pred))

In [ ]:
r_squared = r2_score(y_test, y_pred)
r_squared

In [ ]:
new_data = pd.DataFrame({'TV': [100], 'Radio': [50], 'Newspaper': [25], 'US': ['Yes']})
new_data = pd.concat([new_data, pd.get_dummies(new_data['US'])], axis=1)
new_data