<a href="https://colab.research.google.com/github/saibhoknal/internship/blob/main/Task_1/Copy_of_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# program to create one dimensional array using pandas module
import pandas as pd
ds = pd.Series([1,2,3,4,5])
print(ds)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
# program for print array values elements wise
import pandas as pd
dics=pd.DataFrame({'A':[3,5,2,6],'B':[7,3,8,4],'C':[3,6,7,2]})
print(dics)

   A  B  C
0  3  7  3
1  5  3  6
2  2  8  7
3  6  4  2

In [ ]:
#program for adding two pandas series
import pandas as pd
num1=pd.Series ([3,4,5,6])
num2=pd.Series ([4,3,7,2])
add=num1+num2
print(add)

0     7
1     7
2    12
3     8
dtype: int64

In [ ]:
#pragram to display dataframes from dictionary data
import pandas as pd
data={'Names':['Moin','Hasir','wasim','kaif'],
                   'Address':['alephata','pune','Mumbai','Nashik']}
labels=['A','B','C','D']

info=pd.DataFrame(data, index=labels)
print(info)

   Names   Address
A   Moin  alephata
B  Hasir      pune
C  wasim    Mumbai
D   kaif    Nashik