<a href="https://colab.research.google.com/github/saibhoknal/internship/blob/main/task_4/statistics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:

import pandas as pd
mkp=pd.read_csv("/content/drive/MyDrive/Students_Record (1).csv")
mkp

,Stud_Roll_no.,Maths_Score,Reading_Score,Writing_Score,Placement_Score,Placement offer count
0,1,82.0,64.0,98.0,81.0,2
1,2,74.0,86.0,98.0,86.0,2
2,3,76.0,83.0,76.0,78.0,1
3,4,25.0,73.0,77.0,58.0,0
4,5,93.0,95.0,86.0,91.0,3
5,6,75.0,83.0,97.0,85.0,2
6,7,83.0,84.0,91.0,86.0,2
7,8,72.0,90.0,71.0,78.0,1
8,9,86.0,88.0,94.0,89.0,2
9,10,92.0,76.0,98.0,89.0,2
10,11,87.0,87.0,NaN,87.0,2
11,12,97.0,97.0,94.0,96.0,3
12,13,82.0,93.0,95.0,90.0,3
13,14,89.0,83.0,88.0,87.0,2
14,15,32.0,26.0,29.0,29.0,0
15,16,99.0,96.0,80.0,92.0,3
16,17,73.0,86.0,83.0,81.0,2
17,18,71.0,65.0,78.0,71.0,1
18,19,71.0,88.0,74.0,78.0,1
19,20,63.0,86.0,94.0,81.0,2
20,21,68.0,76.0,81.0,75.0,1
21,22,73.0,93.0,73.0,80.0,2
22,23,90.0,69.0,61.0,73.0,1
23,24,NaN,66.0,79.0,73.0,1
24,25,97.0,63.0,67.0,76.0,1
25,26,85.0,96.0,99.0,93.0,3
26,27,69.0,87.0,69.0,75.0,1
27,28,63.0,63.0,66.0,64.0,1
28,29,78.0,90.0,72.0,80.0,2
29,30,96.0,83.0,79.0,86.0,2
30,31,96.0,82.0,61.0,80.0,2
31,32,19.0,81.0,69.0,56.0,0
32,33,99.0,96.0,63.0,86.0,2
33,34,64.0,99.0,86.0,83.0,2
34,35,92.0,97.0,66.0,85.0,2
35,36,74.0,71.0,91.0,79.0,1
36,37,65.0,98.0,72.0,NaN,0
37,38,68.0,13.0,76.0,52.0,0
38,39,67.0,81.0,89.0,79.0,1
39,40,85.0,78.0,80.0,81.0,2
40,41,68.0,96.0,75.0,80.0,2
41,42,NaN,81.0,62.0,72.0,1
42,43,76.0,91.0,92.0,86.0,2
43,44,95.0,63.0,80.0,79.0,1
44,45,89.0,90.0,60.0,80.0,2
45,46,98.0,NaN,98.0,98.0,3
46,47,84.0,84.0,61.0,76.0,1
47,48,74.0,63.0,85.0,74.0,1
48,49,74.0,66.0,90.0,77.0,1
49,50,71.0,78.0,64.0,71.0,1

In [3]:
mean1=mkp['Maths_Score'].mean()
mean1

77.0625

In [4]:
mean2=mkp['Reading_Score'].mean()
mean2

80.06122448979592

In [5]:
mean3=mkp['Writing_Score'].mean()
mean3

78.91836734693878

In [6]:
mean4=mkp['Placement_Score'].mean()
mean4

78.81632653061224

In [7]:
mean5=mkp['Placement offer count'].mean()
mean5

1.56

In [9]:



median1=mkp['Maths_Score'].median()
median1

76.0

In [10]:
median2=mkp['Reading_Score'].median()
median2

83.0

In [11]:
median3=mkp['Writing_Score'].median()
median3

79.0

In [12]:
median4=mkp['Placement_Score'].median()
median4

80.0

In [13]:
median5=mkp['Placement offer count'].median()
median5

2.0

In [14]:
minimum1=mkp['Maths_Score'].min()
minimum1

19.0

In [15]:
minimum2=mkp['Reading_Score'].min()
minimum2

13.0

In [16]:
minimum3=mkp['Writing_Score'].min()
minimum3

29.0

In [17]:
minimum4=mkp['Placement_Score'].min()
minimum4

29.0

In [18]:


minimum5=mkp['Placement offer count'].min()
minimum5

0

In [19]:
maximum1=mkp['Maths_Score'].max()
maximum1

99.0

In [20]:
maximum2=mkp['Reading_Score'].max()
maximum2

99.0

In [21]:
maximum3=mkp['Writing_Score'].max()
maximum3

99.0

In [22]:
maximum4=mkp['Placement_Score'].max()
maximum4

98.0

In [23]:
maximum5=mkp['Placement offer count'].max()
maximum5

3

In [24]:
sd1=mkp['Maths_Score'].std()
sd1

17.42754758689865

In [25]:
sd2=mkp['Reading_Score'].std()
sd2

16.71128381671262

In [26]:
sd3=mkp['Writing_Score'].std()
sd3

14.113877235269014

In [27]:
sd4=mkp['Placement_Score'].std()
sd4

11.828062445916059

In [28]:

sd5=mkp['Placement offer count'].std()
sd5

0.8369039151929607